@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-size: 10px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}
/*
#437FC7 dark blue
#6DAFFE blue
#EDF6FF light blue
#FFFFFF white
#B9732F brown
*/
.App {
  display: block;
  position: relative;
  flex-direction: row;
  height: 100%;
}

.right_hand_side {
  width: 100%;
  height: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: #edf6ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.sidebar {
  opacity: 0.97;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  height: 100%;
  background-image: linear-gradient(to right, #6daffe, #6daffe);
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.249);
  transform: translateX(-18rem);
}

.sidebar:hover {
  transform: translateX(0rem);
  transition: transform 0.4s;
}

.sidebar:not(:hover) {
  transform: translateX(-18rem);
  transition: transform 0.4s;
}

.sidebar_username {
  font-size: 1.6rem;
  margin-top: 2rem;
}

.sidebar_usericon {
  margin-top: 4rem;
  width: 10rem;
  height: 10rem;
  background-color: aliceblue;
  border-radius: 10rem;
  box-shadow: 0rem 0rem 3rem rgba(0, 0, 0, 0.262);
}

.navlist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 4rem;
  width: 15rem;
  list-style-type: none;
}

.navlist > li {
  padding: 1rem;
  margin-top: 1rem;
}
.navlist > li:hover {
  transform: translateX(1.5rem);
  transition: 0.1s;
}

.navlist_link {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
}

.navlist_icon {
  color: white;
  font-size: 1.8rem;
  margin-right: 1rem;
}

.copyright {
  margin-top: auto;
  margin-bottom: 2rem;
  color: white;
}
.record_title {
  font-size: 3.2rem;
  margin-top: 2rem;
}

table {
  border-collapse: collapse;
}

.table_area {
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  margin-top: 2rem;
  border-radius: 0.5rem;
  height: 60rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 2rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.393);
}
thead {
  background-color: #437fc7;
}
thead > tr > th {
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  white-space: nowrap;
  border-top: 0.3rem solid #000000bb;
  border-bottom: 0.3rem solid #000000bb;
}

td {
  border-top: 0.1rem solid #000000;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  text-align: left;
  white-space: nowrap;
  width: 14rem;
  height: 3rem;
}

tbody > tr:hover {
  background-color: #edf6ff;
}

.print_icon {
  font-size: 1.6rem;
}

.pagination {
  list-style-type: none;
  width: 50rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.page-item {
  box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.249);
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #b9742b;
  height: 4rem;
}

.page-item:hover {
  background-color: #d38e43;
}

.page-link {
  text-decoration: none;
  color: #edf6ff;
  font-size: 1.6rem;
}

.page-item_left {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.page-item_right {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-left: 0.1rem solid white;
}

.page-item_middle {
  border-left: 0.1rem solid white;
}
