@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-size: 10px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}
/*
#437FC7 dark blue
#6DAFFE blue
#EDF6FF light blue
#FFFFFF white
#B9732F brown
*/
.App {
  display: block;
  position: relative;
  flex-direction: row;
  height: 100%;
}

hr {
  width: 100%;
  border: 1px solid rgba(230, 230, 230, 0.66);
  margin: 1rem;
}

.right_hand_side {
  position: absolute;
  top: 0;
  left: 20rem;
  width: calc(100% - 20rem);
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.subsidebar {
  position: absolute;
  top: 0;
  left: 5rem;
  width: 15rem;
  height: 100%;
  background-image: linear-gradient(to right, #eeeeee, #eeeeee);
  border-left: 0.1rem solid #dddddd;
  border-right: 0.1rem solid #dddddd;
  border-top: 0.1rem solid #dddddd;
  box-shadow: 1rem 0rem 5rem #eeeeee;
  border-top-right-radius: 5rem;
}

.sidebar {
  opacity: 0.97;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5rem;
  height: 100%;
  background-image: linear-gradient(to right, #eeeeee, #eeeeee);
}

.sidebar_username {
  font-size: 1.6rem;
  margin-top: 2rem;
}

.sidebar_usericon {
  margin-top: 3rem;
  width: 3rem;
  height: 3rem;
  background-color: aliceblue;
  border-radius: 10rem;
  box-shadow: 0rem 0rem 3rem rgba(0, 0, 0, 0.262);
}

.navlist {
  width: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  list-style-type: none;
}

.navlist > li:hover {
  color: #4a4a4a;
}

.navlist_link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.6rem;
}

.baritem {
  cursor: pointer;
  width: 5rem;
  display: flex;
  justify-content: center;
  padding: 0rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-top: 0.1rem solid #dddddd;
}

.baritem:hover {
  background-color: rgb(255, 255, 255);
}

.navlist_icon {
  color: #7d7d7d;
  font-size: 1.8rem;
}

.signout_button {
  width: 5rem;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 0rem;
  margin-top: auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-top: 0.1rem solid #dddddd;
}

.signout_button:hover {
  background-color: rgb(255, 255, 255);
}

.record_title {
  font-size: 3.2rem;
  margin-top: 2rem;
}
.control_bar {
  display: flex;
  flex-direction: row;
}
.display_count {
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: 600;
  font-size: 1.6rem;
  color: #4a4a4a;
}

table {
  border-collapse: collapse;
}

.table_area {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-x: auto;
  overflow: scroll;
  margin-top: 2rem;
  height: 50rem;
}
.ordertable {
  overflow: scroll;
  height: 40rem;
}

.ordertable-headrow {
  border-bottom: 0.15rem solid #dddddd;
}

.ordertable-headcell {
  width: 10rem;
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.ordertable-bodyrow {
  cursor: pointer;
  height: 3rem;
  text-align: center;
  font-size: 1.1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid #eeeeee;
}

.ordertable-bodyrow:hover {
  font-weight: 600;
  background-image: linear-gradient(
    to right,
    #eeeeee,
    #dddddd,
    #eeeeee,
    #dddddd,
    #eeeeee
  );
}
.tableicon {
  margin-right: 1.2rem;
}

.tablerow_icon {
  font-size: 1.4rem;
  color: #7d7d7d;
}
.tablerow_icon:hover {
  font-size: 1.4rem;
  color: #b9742b;
}

.filter_button {
  cursor: pointer;
  color: #b9742b;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: none;
}

.tablerow_extrainfo_close {
  width: 100%;
  height: 0rem;
  transition: opacity 0.6s, height 0.3s;
  opacity: 0;
}
.tablerow_extrainfo_show {
  opacity: 1;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 15rem;
  transition: opacity 0.6s, height 0.3s;
  display: flex;
  justify-content: center;
}
.tablerow_extra_col1 {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.tablerow_extra_col2 {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 1rem;
}
.tablerow_extra_col3 {
  width: 25%;
  display: flex;
  flex-direction: column;
}
.tablerow_extra_col4 {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.tablerow_extrainfo_content {
  color: #525252;
}

.breakpointA,
.breakpointB {
  border-top: 0.1rem solid #4a4a4a;
}
.breakpointC {
  border-top: 1px solid #4a4a4a;
  border-bottom: 3px double #4a4a4a;
}

.print_icon {
  font-size: 1.6rem;
  cursor: pointer;
}
.print_icon:hover {
  font-size: 1.6rem;
  color: #b9742b;
  cursor: pointer;
}
